*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* body */
body{
    font-family: "Noto Serif TC", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    line-height: 170%;
    vertical-align: baseline;
    text-align: justify;
}


/* header */


/* section 共用 */
section{
        max-width: 1600px;
        margin: auto;
        /* border: 1px solid blue; */
}


/* banner */

#banner{
    width: 100%;
    height: 650px;
    overflow: hidden;
    position: relative;
}

#banner-text{
    position: absolute;
    top: 180px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    display: flex;
    align-items: center;
}

#logo{
    width: 150px;
    height: 100%;
}

.slogan h1{
    font-size: 5rem;
    padding: 0.6rem;
    color: #fff;
}

.slogan span{
    padding: 0.6rem;
    position: relative;
    top: 25px;
    left: 4px;
    color: #fff;
}

#banner-img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
}

#banner-gradient{
    width: 100%;
    height: 100px;
    top: 550px; 
    position: absolute;
    background: linear-gradient(0deg,rgba(255,255,255,1) 30%, rgba(255,255,255,0) );
    z-index: 9;
}


/* title */
#title{
    max-width: 900px;
    margin: 30px auto;

    p{
        text-align: center;
    }
}

/* guide */
#guide{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#guide-pic{
    width: 75%;
}

/* content */
#content{
    position: relative;
}

/* 分頁按鈕 */
.radio{
    display: none;
}

#btn{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0 10px 0;
}

.select-btn{
    width: 170px;
    height: 55px;
    margin: 0 20px;
    background-color: #ddd;
    border-radius: 30px;
    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    span{
        font-family: "Noto Serif TC", serif;
        font-optical-sizing: auto;            
        font-size: 1.5rem;
        font-weight: bold;
        position: relative;
        top:-2px;

    }
}

.select-btn:hover{
    border: 1px solid #000;
    transition: 100ms;
}

    /* 預設狀態 */
    #select-f{
        background-color: #4F9D9D;
        span{
            color: #fff;
        }
    }

    #wrap-a{
        display: none;
    }

    /* 選擇後狀態 */

    #handle-a:checked ~ #wrap-f{
        display: none;
    }
    #handle-a:checked ~ #wrap-a{
        display: block;
    }
    #handle-a:checked ~ #btn > #select-a{
        background-color: #4F9D9D;
        span{
            color: #fff;
        }
    }
    #handle-a:checked ~ #btn > #select-f{
        background-color: #ddd;
        span{
            color: #000;
        }
    }

/* 分頁共用 */
.wrap{
    width: 100%;
    margin: auto;
    /* border: 1px solid red; */
    position: relative;
}


/* 圖文 */
.wrap-text{
    width: 65%;
    margin: 45px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.text-pic{
    width: 400px;
    height: 300px;
    border-radius: 20px;
    object-fit: cover;
    object-position: center;
}

.text{
    padding: 40px;
    h1{
        font-size: 1.5rem;
        padding-bottom: 20px;
    }
}

.text:nth-child(1),.text:nth-child(3){
    padding-left: 0;
}

.text:nth-child(2){
    padding-right: 0;
}

/* 燈塔環景 */
#panoramic{
    width: 100%;
    height: 60vh;
    display: block;
    position: relative;
    overflow: hidden;
}

#panoramic-pic{
    width: 100vw;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    left: 0;
}

/* 圖片輪播 */
.pic-carousel{
    width: 100%;
    margin: 45px auto;
    text-align: center;
    display: block;
    h1{
        display: inline;
    }
    span{
        width: 300px;
        display: inline-block;
        height: 0.5px;
        background-color: #000;
        position: relative;
        top: -8px;
    }

}

.pic-carousel h1{
    padding-top: 25px;
    font-size: 1.5rem;
}

.owl-carousel{
    padding-top: 25px;
}

.owl-carousel div img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
}

.owl-carousel div span{
    font-size: 1rem;
    top: 0;
    background-color: rgba(255,255,255,0);
}


/* information */
.information{
    width: 90%;
    height: fit-content;
    margin: 25px auto 0 auto;
    padding: 40px;
    border-radius: 20px;
    background-color: #4F9D9D;
    color: #fff;
    display: flex;
    flex-direction: row;
}

.info-content{
    flex-grow: 1;
}

.info-title{
    text-align: center;
    margin-bottom: 20px;
    span{
        width: 10vw;
        height: 0.5px;
        background-color: #fff;
        display: inline-block;
        position: relative;
        top: -8px;
    }
    h1{
        font-size: 1.8rem;
        color: #fff;
        display: inline;
    }
}

ol li {
    list-style: decimal outside;
    position: relative;
    left: 20px;
}

.info-text{
    margin: 0 50px 40px 50px;
}

#trasport-info {
    h2{
        font-size: 1.5rem;
        span{
            font-size: 1rem;
        }
    }
}

iframe{
    border-radius: 10px;
}

.map{
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: space-evenly;
}

#fb-link{
    text-align: center;
    text-decoration: none;
    width: 280px;
    border-radius: 30px;
    padding: 10px;
    display: block;
    background-color: #fff;
    color: #000;
    svg{
        position: relative;
        top:4px;
        margin-right: 2px;
    }
    span{
        position: relative;
        top:-1px;
    }
}




/* 作者頁 */
.author-wrap{
    width: 65%;
    margin: 45px auto;
    display: flex;
    flex-direction: row;
}

.author-left{
    margin-right: 30px;
}

.author-text{
    padding: 20px 0;
    h1{
        font-size: 1.5rem;
        padding-bottom: 20px;
    }
}

#author-pic{
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: 50% 39%;
    border-radius: 20px;
}

/* IG */
.IG-post{
    width: fit-content;
    margin: auto;
}


/* footer */
footer{
    width: 100%;
    position: absolute;
    z-index: 10;
}

.copyright{
    width: 90%;
    height: 30px;
    text-align: center;
    margin: 10px auto;
    p{
        font-size: 0.8rem;
        color: #000;
    }
}